@import "./styles/base.css";
@import "./styles/setup.css";
@import "./styles/practice.css";
@import "./styles/result.css";
@import "./styles/settings.css";
@import "./styles/dark.css";
@import "./styles/responsive.css";
